<template>
  <button class="button">
    <!-- Un slot permet d'insérer dynamiquement tout ce que l'on place entre la balise d'ouverture et de fermeture dans le composant (voir le bouton dans "index.vue") -->
    <slot/>
  </button>
</template>

<style scoped>
.button {
  background: blue;
  border-radius: 6px;
  padding: 5px 15px;
  color: white;
}
</style>
