<template>
  <div class="card">
    <slot />
  </div>
</template>

<style scoped>
.card {
  display: block;
  width: 100%;
  max-width: 800px;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, .3);
  border-radius: 12px;
  padding: 30px;
  background: white;
  margin-bottom: 150px;
}
</style>
