<template>
  <div class="header">
    <!-- Les liens Nuxt s'écrivent comme ici avec la propriété "to" pour indiquer l'url de navigation -->
    <nuxt-link :to="`/${lang}/`">Home</nuxt-link>
    <!-- On peut faire des url dynamiques avec des variables aussi grâce aux templates ES6 -->
    <nuxt-link :to="`/${lang}/blog`">archive</nuxt-link>
    <nuxt-link :to='`/${lang}/cases`'>case d'études</nuxt-link>

    <select name="switchlang" id="switchlang" class="switchlang" @change="changeLang($event.target.value)">
      <option v-for="(lang, index) in langs" :key="index" :value="lang.value">{{ lang.text }}</option>
    </select>
  </div>
</template>

<script>
import { mapMutations } from 'vuex'
import { mapState } from 'vuex'

export default {
  data() {
    return {
      langs: [
        {
          text: 'Français',
          value: 'fr-fr'
        },
        {
          text: 'Anglais',
          value: 'en-gb'
        }
      ]
    }
  },
  computed: {
    ...mapState([
      'lang'
    ])
  },
  methods: {
    ...mapMutations({
      switch: 'switchLang'
    }),
    changeLang(e) {
      this.switch(e)
      // this.$store.commit('switchLang', e)
      this.$router.push(`/${this.lang}/`)
      console.log( this.$store.state )
    }
  }
}
</script>

<style scoped>
.header {
  width: 100%;
  background: white;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, .5);
  color: black;
}
</style>
